    body {
        background-color: white;
    }
    
    .container-fluid {
        display: inline-flex;
        margin-left: auto;
    }
    
    .navbar-header {
        font-size: 4vw;
        margin-left: -8%;
        font-family: 'Archivo Black', sans-serif;
    }
    
    h2 {
        color: yellow;
        font-size: 3vw;
    }
    
    label {
        color: blue;
        font-size: 1.4vw;
    }
    
    .container {
        display: inline-flex;
    }
    
    .about {
        display: flex;
        font-size: 2vw;
    }
    
    #column {
        margin-left: 5;
    }
    
    #column2 {
        top: 0;
        background-color: yellow;
        padding: 50px;
        font-size: 20px;
    }
    
    .guide {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6vw;
    }
    
    button {
        width: 100px;
        border: none;
        outline: none;
        color: #ffffff;
        height: 35px;
        border-radius: 30px;
        margin-top: 20px;
        box-shadow: 0px 5px 15px 8px rgba(28, 0, 181, 0.3);
    }
    
    .form-control3 {
        color: white;
        border: auto;
        outline: none;
        box-shadow: 0px 5px 15px 8px rgba(28, 0, 181, 0.3);
        font-size: 1.4vw;
    }