        body {
            background-color: white;
        }
        
        .container-fluid {
            display: inline-flex;
            margin-left: auto;
        }
        
        .navbar-header {
            font-size: 4vw;
            margin-left: -8%;
            font-family: 'Archivo Black', sans-serif;
        }
        
        label {
            color: blue;
            font-size: 1.3vw;
        }
        
        #container {
            top: 0;
            background-color: yellow;
            padding: 50px;
            font-size: 20px;
        }
        
        .guide {
            font-family: 'Poppins', sans-serif;
        }
        
        button {
            background: #1c00b5;
            width: 100px;
            border: none;
            outline: none;
            color: #ffffff;
            height: 35px;
            border-radius: 30px;
            margin-top: 20px;
            box-shadow: 0px 5px 15px 8px rgba(28, 0, 181, 0.3);
        }
        
        .input-wrapper {
            background: #1c00b5;
            color: #ffffff;
            box-shadow: 0px 5px 15px 8px rgba(28, 0, 181, 0.3);
        }
        
        .intoduction {
            font-size: 2vw;
        }